DATABASE_URL="postgresql://<<username>>:<<password>>@localhost:5432/ecommerce-nestjs?schema=public"
ACCESS_TOKEN_SECRET=your-access-token-secret
ACCESS_TOKEN_EXPIRES_IN=1h
REFRESH_TOKEN_SECRET=your-refresh-token-secret
REFRESH_TOKEN_EXPIRES_IN=1d
SECRET_API_KEY=your-secret-api-key
